---
import Layout from '../../layouts/Layout.astro'

import { getI18n } from '../../i18n'
import HeroContainer from '../HeroContainer.astro'
import Numeros from '../Numeros.astro'
const i18N = getI18n({ currentLocale: Astro?.currentLocale ?? 'es'})
---

<Layout
  title='archivo'
  description='archivo'
  >
  <HeroContainer img="./hero.webp">
    <h1 class="text-5xl font-medium text-center">EDICIONES ANTERIORES</h1>

    <a class="animate-fade-up flex justify-center items-center border border-white rounded-full h-[50px] w-[300px] mt-20 hover:shadow-md hover:shadow-white" href="https://www.youtube.com/watch?v=1YmpPrqKP-g&ab_channel=TheGrefg" target="_blank">
      REVIVE LA ÚLTIMA GALA
    </a>
  </HeroContainer>

  <main>
    <Numeros />
  </main>
</Layout>
