---
import Bento from '../components/Bento.astro'
import PreFooter from '../components/PreFooter.astro'
import Footer from '../components/Footer.astro'
import Intro from '../components/Intro.astro'
import Video from '../components/Video.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Premios ESLAND"
  description="Descubre a los mejore creadores de contenido de España y Latinoamérica. ¡Vota por tus favoritos! Celebra la innovación y el talento."
  >
  <Video />
  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>
  
  <Footer />
</Layout>

<style>

</style>
