

<section>
  <h2 class="text-5xl ">Los ESLAND en números</h2>
  
  <div>
    <p>
      <span>227</span>
    </p>
    <p>noticias en prensa</p>
  </div>
  
  <div>
    <p>
      + <span>69.9</span> M
    </p>
    <p>de visualizaciones</p>
  </div>
  
  <div>
    <p>
      + <span>0</span> M€
    </p>
    <p>en medios ganados</p>
  </div>
</section>