---

---

<section class="w-full sm:p-20 p-10 max-w-[1300px] mx-auto">
  <h3 class="text-center font-semibold mb-10 text-balance mx-auto sm:text-4xl text-xl tracking-wide">GUIA DE LA 3ª EDICIÓN DE LOS PREMIOS ESLAND</h3>

  <lite-youtube
    class="shadow-2xl shadow-white/10"
    videoid="nYPVr2IYTtk"
    videotitle="GUIA DE LA 3ª EDICIÓN DE LOS PREMIOS ESLAND"
  >
  </lite-youtube>
</section>

<script>
import '@justinribeiro/lite-youtube'

</script>